.md-typeset h1 {
    font-weight: 700;
}

.md-typeset h2 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 0.3em;
}

.md-content p {
    text-align: justify;
    line-height: 1.8;
}

.md-typeset table {
    font-size: 0.9rem;
}

.mermaid {
    font-size: 14px;
    text-align: center;
}

.mermaid svg {
    max-width: 40%;
    height: auto;
    display: block;
    margin: auto;
} 

